nav {
    background-color: #4A54B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px 5px 70px;
    position: relative;
}

nav * {
    position: relative;
    z-index: 5;
}

nav .logo {
    width: 180px;
}

nav .links {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links li {
    display: inline-block;
    font-size: 17px;
    text-transform: capitalize;
}

nav .links li a {
    text-decoration: none;
    color: white;
}

nav .links li a:hover {
    color: rgb(214, 214, 214);
}

/* hamberger-menu */
.hamberger {
    display: none;
    width: 30px;
    height: 27px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.hamberger .garis {
    width: 200%;
    display: flex;
    justify-content: space-between;
    transition: 500ms;
}

.hamberger .garis * {
    height: 5.5px;
    border-radius: 30px;
}

.hamberger .garis .kiri {
    width: 50%;
    background-color: red;
}

.hamberger .garis .kanan {
    width: 30%;
}

.miring-kiri {
    transform: rotate(-45deg);
}

.mengecil {
   transform: scale(0);
}

.miring-kanan {
    transform: rotate(45deg);
}
/* hamberger-menu */

/* drop-down */
nav .drop-down {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #4A54B6;
    z-index: 1;
    transition: 500ms;
}

.drop-down-normal {
    height: 100%;   
}

.drop-down .links-drop {
    margin-top: 58.59px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    /* height: 50px; */
    /* background-color: salmon; */
    list-style: none;
}

.drop-down .links-drop li a { 
    text-transform: capitalize; 
    text-decoration: none;
    color: white;
}

.drop-down .links-drop hr {
    border: none;
    height: 1px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* drop-down */