@media(max-width: 800px) {
    /* content */
    .container {
        width: 100%;
    }
    /* content */
}

@media(max-width: 768px) {
    /* nav */
    nav {
        padding: 5px 40px 5px 40px;
    }

    nav .logo {
        width: 140px;
    }

    nav .links {
        display: none;
    }

    .hamberger {
        display: flex;
    }
    /* nav */
}

@media(max-width: 500px) {
    /* nav */
    nav {
        padding: 5px 15px 5px 15px;
    }
    /* nav */

    /* content */
    .content {
        padding: 30px;
    }

    .container .judul {
        display: none;
    }

    .card {
        width: 100%;
    }
    /* content */

    /* footer */
    footer p {
        font-size: 12.5px;
    }
    /* footer */
}